@font-face {
    font-family: 'Stratos';
    src: url('../fonts/Stratos-Black.woff2') format('woff2'),
        url('../fonts/Stratos-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos';
    src: url('../fonts/Stratos-Black.woff2') format('woff2'),
        url('../fonts/Stratos-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos';
    src: url('../fonts/Stratos-Bold.woff2') format('woff2'),
        url('../fonts/Stratos-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos';
    src: url('../fonts/Stratos-BlackItalic.woff2') format('woff2'),
        url('../fonts/Stratos-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos';
    src: url('../fonts/Stratos-BoldItalic.woff2') format('woff2'),
        url('../fonts/Stratos-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos';
    src: url('../fonts/Stratos-ExtraBold.woff2') format('woff2'),
        url('../fonts/Stratos-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos';
    src: url('../fonts/Stratos-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Stratos-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos';
    src: url('../fonts/Stratos-ExtraLight.woff2') format('woff2'),
        url('../fonts/Stratos-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos';
    src: url('../fonts/Stratos-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Stratos-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos';
    src: url('../fonts/Stratos-Light.woff2') format('woff2'),
        url('../fonts/Stratos-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos';
    src: url('../fonts/Stratos-Italic.woff2') format('woff2'),
        url('../fonts/Stratos-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos';
    src: url('../fonts/Stratos-LightItalic.woff2') format('woff2'),
        url('../fonts/Stratos-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos';
    src: url('../fonts/Stratos-Medium.woff2') format('woff2'),
        url('../fonts/Stratos-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos';
    src: url('../fonts/Stratos-MediumItalic.woff2') format('woff2'),
        url('../fonts/Stratos-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos';
    src: url('../fonts/Stratos-Regular.woff2') format('woff2'),
        url('../fonts/Stratos-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos';
    src: url('../fonts/Stratos-SemiBold.woff2') format('woff2'),
        url('../fonts/Stratos-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos';
    src: url('../fonts/Stratos-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Stratos-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos SemiLight';
    src: url('../fonts/Stratos-SemiLight.woff2') format('woff2'),
        url('../fonts/Stratos-SemiLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos';
    src: url('../fonts/Stratos-Thin.woff2') format('woff2'),
        url('../fonts/Stratos-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos';
    src: url('../fonts/Stratos-ThinItalic.woff2') format('woff2'),
        url('../fonts/Stratos-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos SemiLight';
    src: url('../fonts/Stratos-SemiLightItalic.woff2') format('woff2'),
        url('../fonts/Stratos-SemiLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

